extends layout

block content
  h1= title
  div#errors(style:{display:block;}) 
  form(id='olavehicleForm', action="/resource/olavehicles", method="POST")
    div.form-group
        label.costumeAttr(for='vehiclenumber') Olavehicle Number
        input#costumetype(type='text', name='vehiclenumber')
    div.form-group
        label.costumeAttr(for='numberofpassengers') Olavehicle NumberOFPassengers
        input#size(type='number', name='numberofpassengers')
    div.form-group
        label.costumeAttr(for='amount') Olavehicle Amount
        input#cost(type='text', name='amount')
    input(type="submit")

  script.
    document.forms['olavehicleForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        document.getElementById("errors").style.display="block"
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        if(body.name){
          document.getElementById("errors").innerHTML=`${body.name}  \n ${body.message}\n`;
          alert("Save Failed")
        }else{
           alert("Save succeded")
        }
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        //- document.getElementById("errors").style.display="block"
        //- document.getElementById("errors").innerHTML="hello";
        alert("Save failed " + error)
      });
    });