body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: blueviolet;
}

.olavehicleAttr{
  background-color: lightcoral;
  width:120px;
  font-family: 'Courier New', Courier, monospace;
  } 